* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background-color: #FF900E;
    padding: 15px;
    color: white;
    border: none;
    cursor: pointer;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 150px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav>ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 500;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
    color: #131313;

}

.banner-description {
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}